<div class="cart-popup1">
    <div class="cart-popup-container">
        <h1>Add Credit Card</h1>
        <a href="#0" class="cart-popup-close"></a>
        <div class="cart-popup-form">

        </div>
        <!--cart-popup-form-->
    </div>
    <!-- cart-popup-container -->
</div>
