@{
    ViewBag.Title = "SIR";
    Layout = "~/Views/Shared/_Products.cshtml";
}

<style>
    #featured .align-middle {
        vertical-align: middle
    }
        #featured .align-middle .col-md-8 a {
            vertical-align: middle !important;
            min-height: 100px;
            margin-top: 30px;
            display: block;
        }
    #featured .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        min-height: 100px;
    }
    #featured .row > div {
        padding: 16px;
        margin: 16px;
    }
        #featured .row > div:first-child a {
            vertical-align: middle;
            display: block;
            height: 100%;
        }
    #featured .row {
        border: 0;
        border-bottom: 1px solid #eee;
    }
</style>

<div id="featured">

    <div class="row row-eq-height" style="margin-top: 20px;">
        <div class="col-md-4 text-center align-middle">
            <img alt="" src="~/FeaturedProducts/ATA_Featured_Product_Logo_smaller.jpg">
        </div>
        <div class="col-md-8">
            <strong><span style="font-size: 18px;">The ATA Featured Product program highlights key products and services for motor carriers from Allied Members of the American Trucking Associations (ATA).</span></strong>

            ATA encourages its members to contact ATA Featured Product companies to learn more about how their products and services can help fleets solution some of the most pressing issues facing trucking companies today.

        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle">

            <a href="http://www.prepassalliance.org" target="_blank"><img alt="" src="~/FeaturedProducts/PrePassSA_2019_Color.jpg" style="width: 300px; height: 63px; vertical-align: middle;" title=""></a>

        </div>
        <div class="col-md-8">

            PrePass Safety Alliance (formerly HELP Inc.), is the non-profit provider of PrePass weigh station bypass and toll payment services. The Alliance was formed in 1993 by trucking industry leaders, enforcement agencies and state DOTs to improve the safety and efficiency of the trucking industry. The organization’s Board of Directors is comprised of an equal number of industry and government representatives to ensure that services are balanced between safety and efficiency. To date, the Alliance has invested more than $700 million nationwide to deploy services to improve safety, reduce truck-related emissions and preserve highway infrastructure. For more details, visit <a href="https://www.prepassalliance.org" target="_blank">www.prepassalliance.org</a>.
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle">
            <a href="https://www.hireright.com/" target="_blank"><img alt="" src="~/FeaturedProducts/HireRight_logo_RGB_R_300_NEW.jpg" style="vertical-align: middle; width: 300px; height: 56px;" title=""></a>
        </div>
        <div class="col-md-8">
            HireRight is a leading provider of on-demand employment background checks, drug and health screening, electronic Form I-9 and E-Verify solutions. Trusted by more than 9,500 transportation organizations for more than 30 years, HireRight, through its DAC line of trucking services helps organizations efficiently automate, manage and control their screening programs. <a href="http://www.hireright.com/transportation" target="_blank">Click here for more information</a>.

        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle">
            <a href="https://www.lytx.com/en-us/" target="_blank"><img alt="" src="~/FeaturedProducts/Lytx_logo_PMS.jpg" style="width: 180px; height: 96px; vertical-align: middle;"></a>
        </div>
        <div class="col-md-8">
            Lytx® is the global leader in video telematics. Our safety technologies and services are dedicated to helping fleets reduce risk, cut costs, and save lives. More than 1,500 clients—protecting over 600,000 drivers—use our customizable, scalable solutions to increase their safety, efficiency, and compliance. The Lytx DriveCam™ safety program combines event-based video telematics with a driver-focused coaching workflow to help fleets identify risky behaviors and improve driver performance. Our Unisyn℠ platform features always-on video telematics to provide deeper insights into fleet and field operations through the collection and analysis of video and vehicle data. Learn more at <a href="https://www.lytx.com/en-us/" target="_blank">www.lytx.com</a>.

        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle">
            <a href="https://www.meritor.com" target="_blank"><img alt="" src="~/FeaturedProducts/Meritor-logo-tag-horiz-2c-rgb-2019_FIN.jpg" style="width: 250px; height: 53px; vertical-align: middle;"></a>
        </div>
        <div class="col-md-8">
            Meritor is a leading global supplier of drivetrain, mobility, braking and aftermarket solutions for commercial vehicle and industrial markets. With years of experience engineering innovative products that offer superior performance, efficiency and reliability, our team is equipped to deliver. Visit <a href="https://www.meritor.com" target="_new">www.meritor.com</a> for more information.
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle">
            <a href="http://www.safertrucks.com" target="_blank"><img alt="" src="//www.trucking.org/abs/PublishingImages/Bendix.jpg" style="width: 200px; height: 124px;"></a><span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;"></span>
        </div>
        <div class="col-md-8">
            Bendix has long been known as a pioneer in the commercial vehicle industry. The company has a proud reputation as experts in air brake systems and leading-edge safety technologies in North America, as well as a legacy of innovation and achievement. Part of the Knorr-Bremse Group, its global leadership in integrated systems design and engineering has delivered trucking industry innovations such as the flagship Bendix Wingman Fusion driver assistance system, powerful air disc brakes, and more. Bendix is committed to improving the quality of life in the communities in which the company operates through programs that nurture and support education, health and human services, the environment, economic development, civic involvement and diversity. <a href="http://www.safertrucks.com" style="vertical-align: middle;" target="_blank">Click here for more information</a><span style="vertical-align: middle;">.</span>
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle">
            <a href="https://www.cimcintermodalequipment.com/" target="_blank"><img alt="" src="~/FeaturedProducts/CIE.png" style="width: 200px; height: 82px;"></a><span style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;"></span>
        </div>
        <div class="col-md-8">
            CIE Manufacturing, Inc. consistently Leads the Intermodal Evolution by introducing the newest cutting-edge technology and advanced processes to provide our customers container chassis with the best quality, safety, and lowest cost of ownership. CIE Manufacturing, Inc. continues our evolution in 2020 with the expansion of our manufacturing capabilities to our facilities in South Gate, CA and Emporia, VA, providing chassis made in the US, by US workers in US cities, creating not only better lives for our workers and strengthening our American communities, but giving our customers lower costs and faster delivery times.  Reinvention. Revolution. Evolution. It's the CIE way.<span style="vertical-align: middle;">.</span>
        </div>
    </div>

    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle"><a href="https://www.driverreach.com/" target="_blank"><img alt="" src="~/FeaturedProducts/DriverReach-logo-tagline-black-blue.png" style="width: 250px; height: 47px;" title=""></a></div>
        <div class="col-md-8">

            DriverReach's modern recruiting management system provides a better applicant experience and dramatically improves speed-to-hire. A mobile-friendly DOT application feeds directly into a full-service ATS with email and text functionality, streamlining the process of qualifying drivers so companies can Hire. Better. Faster. As an American Trucking Association Corporate Partner<https: b6igc31j7rtpxmrwhgmdn4="" protect-us.mimecast.com="" s="">, DriverReach is dedicated to improving the hiring process for drivers and carriers alike. For more information, or to request a demo, visit <a href="https://driverreach.com" target="_blank">driverreach.com</a><https: driverreach.com="">. </https:></https:>
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle">

            <a href="http://www.eroad.com/?utm_source=ATA&amp;utm_medium=website&amp;utm_content=ATA_Business_Solutions_Page&amp;utm_campaign=ATA_2016" target="_blank"><img alt="" src="~/FeaturedProducts/EROAD_LogoWithWordmark_CMYK.jpg" style="vertical-align: text-bottom; width: 200px; height: 68px; text-align: center;"></a>

        </div>
        <div class="col-md-8">
            Founded in 2000, EROAD is a global technology provider of operational, road use and fuel tax management and compliance solutions for the transportation industry. EROAD's advanced technology set the standard as the first GPS-based service provider to offer a government-approved electronic tax reporting solution in North America. This highly accurate and trusted technology is used to meet the compliance needs of fleets worldwide, including the 2017 FMCSA electronic logging device (ELD) mandate in the U.S. For more information, please visit <a href="http://www.eroad.com/?utm_source=ATA&amp;utm_medium=website&amp;utm_content=ATA_Business_Solutions_Page&amp;utm_campaign=ATA_2016" target="_blank">www.eroad.com</a>.
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle">

            <a href="https://www.fleetworthy.com/" target="_blank"><img alt="" src="~/FeaturedProducts/fleetworthy.png" style="vertical-align: text-bottom; width: 200px; height: 108px; text-align: center;"></a>

        </div>
        <div class="col-md-8">
            <a href="https://www.fleetworthy.com/" target="_blank">Fleetworthy Solutions Inc.</a> provides compliance services to carrier fleets that take them “Beyond compliant”. Fleetworthy Solutions combines exceptional customer service, advanced technologies, and more than 30 years of transportation industry expertise to make sure that drivers and assets are “fleet worthy”. The company helps private fleets and for-hire carriers surpass compliance of federal, state, and local regulations and streamline processes to reduce costs and mitigate risks.
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle">
            <a href="https://idelic.com"><img alt="" src="~/FeaturedProducts/Blue%20Full%20Transparent.png" style="width: 300px;" title=""></a>
        </div>
        <div class="col-md-8">

            Idelic is the creator of the most comprehensive safety platform within trucking. <a href="https://idelic.com" target="_blank">The Idelic Safety Suite</a> integrates all fleet data systems into one comprehensive data management platform, giving fleets unparalleled visibility into their drivers’ behavior and safety operations. With an industry leading Driver Watch List that utilizes advanced machine learning technologies, the Idelic Safety Suite helps identify drivers most at risk for accidents and then provides the tools necessary to manage and improve driver behavior. Simply put, Idelic empowers safety teams to manage, track, and improve driver performance, leading to significant reductions in accidents, insurance claims, and driver turnover. Learn more at <a href="https://idelic.com">https://idelic.com/</a>.

        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle">
            <a href="https://keeptruckin.com"><img alt="" src="~/FeaturedProducts/Keeptruckin-logo.png" style="width: 250px; " title=""></a>
        </div>
        <div class="col-md-8">

            KeepTruckin is the #1 fleet management platform whose robust solutions - the <a href="https://keeptruckin.com/eld-compliance" target="_blank">KeepTruckin ELD</a>, <a href="https://apps.apple.com/us/app/keeptruckin-electronic-logbook/id706401738" target="_blank">Electronic Logbook App</a>, <a href="https://keeptruckin.com/marketplace" target="_blank">App Marketplace</a> and the <a href="https://keeptruckin.com/dashcam" target="_blank">Smart Dashcam</a> - seamlessly connect vehicles, drivers, and fleet managers. KeepTruckin helps over 50,000 for hire carriers and over 250,000 vehicles be more efficient, safe, smart and reliable. Learn more at <a href="keeptruckin.com" target="_blank">keeptruckin.com</a>.

        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle">

            <a href="https://www.shell.us/business-customers/lubricants-for-business/sector-expertise/fleet.html" target="_blank"><img alt="" src="~/FeaturedProducts/Shell.jpg" style="vertical-align: middle;"></a>
        </div>
        <div class="col-md-8">
            Shell is a global group of energy and petrochemicals companies. With around 92,000 employees in more than 70 countries and territories, Shell helps to meet the world's growing demand for energy in economically, environmentally and socially responsible ways. Whatever your industry and however specialized your equipment, Shell's products and services are designed to add value to your operation. Discover how using the right lubricant and services can bring you savings by helping to maximize equipment efficiency, prolong vehicle life and reduce downtime. <a href="https://www.shell.us/business-customers/lubricants-for-business/sector-expertise/fleet.html" target="_blank">Click here for more information.</a>

        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle">

            <a href="http://www.omnitracs.com/" target="_blank"><img alt="" src="~/FeaturedProducts/omnitracs.png" style="width: 225px; height: 62px; vertical-align: middle;"></a>
        </div>
        <div class="col-md-8">
            Omnitracs is a global pioneer of fleet management, routing and predictive analytics solutions for private and for-hire fleets. Omnitracs delivers SaaS-based solutions to help more than 50,000 private and for-hire fleet customers manage nearly 1,500,000 mobile assets in more than 70 countries. Omnitracs transforms the transportation industry through technology and insight, featuring best-in-class solutions for compliance, safety and security, productivity, telematics and tracking, transportation management (TMS), planning and delivery, data and analytics, and professional services.
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle">

            <a href="https://www.sambasafety.com" target="_blank"><img alt="sambasafety" src="~/FeaturedProducts/sambasafetylogo-horiz_NEW.png" style="width: 250px; vertical-align: middle;"></a>
        </div>
        <div class="col-md-8">
            Since 1998, SambaSafety® has been the pioneer and leading provider of driver risk management software in North America. Our mission is to guide our customers including employers, fleet managers and insurance providers to make the right decision at the right time. By collecting, correlating and analyzing motor vehicle records (MVRs) and other data sources, we identify driver risk and enable our customers to modify their drivers’ behavior, reduce accidents, ensure compliance, and lower costs — ultimately improving driver and community safety.</br></br>

SambaSafety® works in partnership with state governments and other third-party information providers to acquire, process, and report critical driver information. Our patented data technology allows customers to filter irrelevant data, receiving actionable information to make quicker and better driver risk management decisions.
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle">

            <a href="https://www.sentry.com/business-insurance/trucking-insurance/fortruckersonly/Default.aspx?utm_source=ATA_Featured_Product_Page&amp;utm_campaign=Sentry_Transportation_2016&amp;utm_medium=Logo_Text&amp;utm_content=Featured_Product_Logo" target="_blank"><img alt="" src="~/FeaturedProducts/sentry_tm_rgb_blu.jpg" style="width: 200px; height: 105px; vertical-align: middle;"></a>
        </div>
        <div class="col-md-8">
            At Sentry, we understand what you’re looking for in an insurance company. Because we’ve been there ourselves. We got our start in 1904, when members of the Wisconsin Retail Hardware Association formed their own insurance company. Backed by personalized care and Midwest roots, we’ve since grown to become one of the largest and most financially secure mutual insurance companies in the nation. As of May, 2019, we’ve earned an A+ (Superior) rating from A.M. Best, the industry’s leading rating authority, for 28 years in a row. <a href="https://www.sentry.com/business-insurance/trucking-insurance/fortruckersonly/Default.aspx?utm_source=ATA_Featured_Product_Page&amp;utm_campaign=Sentry_Transportation_2016&amp;utm_medium=Logo_Text&amp;utm_content=Featured_Product_Logo" target="_blank">Click here for more information.</a><em>(Property and casualty coverages are underwritten by a member of the Sentry Insurance Group, Stevens Point, WI. For a complete list of companies, visit sentry.com. Policies, coverages, benefits and discounts are not available in all states. See policy for complete coverage details.)</em>

        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle">

            <a href="https://info.smartdrive.net/ata" target="_blank"><img alt="" src="~/FeaturedProducts/SmartDrive_logo_final.jpg" style="vertical-align: middle; width: 210px; height: 41px;"></a>
        </div>
        <div class="col-md-8">
            <span>SmartDrive Systems®</span> gives fleets and drivers unprecedented driving performance insight and analysis, helping save fuel, expenses and lives. Its scalable video safety, predictive analytics, telematics, compliance, tracking and personalized performance programs help fleets improve driving skills, lower operating costs and reward drivers – all while delivering significant ROI. Combining computer vision with an easy-to-use managed service, SmartDrive allows fleets and drivers to access and self-manage driving performance anytime, anywhere. The result is smarter driving, a safer fleet and an improved bottom line. The company, which has been ranked as one of the fastest growing companies by Deloitte’s Technology Fast 500™ for six consecutive years, has recorded over 15 billion miles and compiled the world’s largest storehouse of more than 280 million analyzed risky-driving events.<a href="https://info.smartdrive.net/ata" target="_blank"> Click here for more information.</a>

        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle"><a href="https://stoneridge.com" target="_blank"><img alt="" src="~/FeaturedProducts/stoneridge_pantone186c_cmyk.jpg" style="width: 250px; height: 123px;" title=""></a></div>
        <div class="col-md-8">

            Stoneridge, Inc. is an independent designer and manufacturer of highly engineered electrical and electronic components, modules and systems principally for the automotive, commercial vehicle, motorcycle, agricultural and off-highway vehicle markets. Stoneridge solutions power vehicle intelligence systems, provide dramatic increases in fuel efficiency, reduce emissions, and improve safety and security for everyone on the road. Learn more at <a href="http://stoneridge.com" target="_blank">stoneridge.com</a>.
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle">
            <a href="http://www.spireon.com" target="_blank"><img alt="" src="~/FeaturedProducts/FleetLocate_RGB.jpg" style="vertical-align: middle; width: 200px; height: 57px;"></a>
        </div>
        <div class="col-md-8">
            Spireon, Inc. is the industry’s leading open connected vehicle company, providing businesses and consumers with powerful Big Data insights to track, manage and protect their most valuable assets. The award-winning Spireon NSpire open platform delivers rich information from any GPS connected vehicle or asset, converting that information into actionable insight. Headquartered in Irvine, CA, Spireon’s open connected vehicle platform now supports more than 2.4 million active subscribers across the company’s growing suite of product offerings for new and used car dealers, lenders and financial institutions, rental car agencies, insurers, consumers, and fleet, trailer and asset management companies. Learn more at <a href="http://www.spireon.com" target="_blank">www.spireon.com.</a>

        </div>
    </div>
<!--    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle">
            <a href="http://www.teletracnavman.com" target="_blank"><img alt="" src="~/FeaturedProducts/new_dual%20logo.jpg" style="vertical-align: middle; margin-top: 26px;"></a>
        </div>
        <div class="col-md-8">
            Teletrac and Navman Wireless are combined to represent global leadership in GPS-based fleet optimization products and services, including real-time vehicle tracking and analytics that enable companies to monitor, measure and improve operational costs and efficiencies. The joint company's technology currently tracks more than 500,000 vehicles owned by over 40,000 organizations on five continents, making it one of the world's largest fleet management providers. The company, headquartered in Glenview, IL, has offices in the United States, Mexico, Europe, New Zealand and Australia. For more information, visit <a href="http://www.teletracnavman.com" target="_blank">www.teletracnavman.com.</a>

        </div>
    </div>-->
    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle">
            <a href="https://truenorthcompanies.com/transportation/default.aspx" target="_blank"><img alt="" src="~/FeaturedProducts/TrueNorth%20logo%202C%20ORIGINAL.jpg" style="width: 210px; height: 79px; vertical-align: middle;"></a>
        </div>
        <div class="col-md-8">
            TrueNorth (ATA Corporate Partner) is an insurance and financial strategies firm with a dedicated transportation division. With headquarters in Cedar Rapids, Iowa and locations across the United States, TrueNorth specializes in helping transportation companies design and administer sustainable risk management platforms that are cohesive and driver-centric in nature. For more information, visit <a href="https://truenorthcompanies.com/transportation/default.aspx" target="_blank">http://www.truenorthcompanies.com/.</a>

        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle"><a href="http://voyager.usbank.com/?es=a123" target="_blank"><img alt="" src="~/FeaturedProducts/U.S.%20Bank%20CMYK%20929x233%20JPG.jpg" style="width: 200px; height: 52px; vertical-align: middle;"></a></div>
        <div class="col-md-8">
            Depend on the strength and experience of U.S. Bank to provide the payment integrity, efficiency and security only a bank can provide. U.S. Bank Freight Payment is designed to help you avoid payment obstacles, reduce staff time in processing exceptions and get paid quickly - so you can keep your business moving forward. Moreover, the U.S. Bank Voyager Fleet Card delivers convenience and controls to simplify life on the road and in the office. To learn more, visit <a href="usbpayment.com/carriers" target="_blank">usbpayment.com/carriers</a>.

        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle">
            <a href="http://www.velociti.com/services/transportation" target="_blank"><img alt="" src="~/FeaturedProducts/Velociti_Logo_Web.jpg" style="width: 200px; height: 82px; vertical-align: middle;"></a>

        </div>
        <div class="col-md-8">
            Transportation is a high-tech business. Onboard technology products allow fleets to operate more efficiently, improve customer service and increase profits. Velociti is the proven market leader in transportation technology deployment solutions. We have vast knowledge and technical expertise in a variety of technology solutions including In-Cab Communications, Fleet Tracking, Refrigeration Monitoring, Trailer Tracking, Auto Tire Inflation/Monitoring, Automatic Scale Systems, Collision Avoidance, Obstacle Detection, Video Monitoring, Driver Behavior Systems, Trailer Skirts, Auxiliary Power Units, Fuel Management Systems and Stability Control Systems. Velociti helps you get the best ROI from your technology solution, maximizing your fleet productivity and giving you a competitive edge. <a href="http://www.velociti.com/services/transportation" target="_blank">Click here for more information</a>.

        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-4 text-center align-middle">

            <a href="http://www.wabco-auto.com/" target="_blank"><img alt="" src="~/FeaturedProducts/wabco.jpg" style="width: 250px; height: 43px; vertical-align: middle;"></a>
        </div>
        <div class="col-md-8">
            WABCO (NYSE: WBC) is a leading global supplier of technologies and services that improve the safety, efficiency and connectivity of commercial vehicles. Founded nearly 150 years ago, WABCO continues to pioneer breakthrough innovations for advanced driver assistance, braking, stability control, suspension, transmission automation and aerodynamics. Partnering with the transportation industry as it maps a route toward autonomous driving, WABCO also uniquely connects trucks, trailers, cargo, drivers, business partners and fleet operators through advanced fleet management systems and mobile solutions.WABCO reported sales of $2.8 billion in 2016. Headquartered in Brussels, Belgium, WABCO has 13,000 employees in 40 countries. For more information, visit <a href="http://www.wabco-auto.com/" target="_blank">www.wabco-auto.com</a>.

        </div>
    </div>

        </div>
    </div>

</div>