@{
    ViewBag.Title = "Place Order";
    Layout = "~/Views/Shared/_Products.cshtml";
}
<div class="page_content_main">



    <div class="page_content_left">

        <div class="item_purchase_table">
            <table>
                <thead>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </thead>
                <tbody>
                    <tr ng-repeat="cartItem in viewCartData">
                        <td class="purchase_item">
                            <span class="product-thumbnail">
                                <img ng-src="{{cartItem.product.ProductImage}}" no-Image></span> 
                            <span class="purchase_item_right">
                                <h4>{{cartItem.product.ProductName}}</h4>
                                <p>{{cartItem.product.CartDescription}}</p>
                            </span>
                        </td>
                        <td>
                            @*<input type="text" value="{{cartItem.Quantity}}" class="qty">*@
                            <span>{{cartItem.Quantity}}</span>


                        </td>
                        <td class="price"><span>{{cartItem.product.Price | currency}}</span></td>
                        <td class="price"><span>{{cartItem.product.Price * cartItem.Quantity | currency}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!----page-content-left---->

    <div class="page_sidebar">
        <div class="sidebar_widget order_sum_widget">
            <h4>Order Summary</h4>
            <ul>
                <li>Item({{TotalItems}})<span>{{TotalPrice | currency}}</span></li>
                <li>Shipping Handling<span>$10.40</span></li>
                <li>Tax<span>$2.30</span></li>
                <li class="item_total" ng-init="tax=2.30;Shipping=10.40">Total  -  {{ TotalPrice + tax + Shipping  | currency}}</li>
            </ul>
        </div>
    </div>

    <div>
        <span style="color: green; font-size: 20px">Your payment has been successfully processed.</span>
    </div>


</div>
