@model IEnumerable<Shopping.Models.Product>
@{
    ViewBag.Title = "SIR";
}
<h1 class="page_title">Search Results</h1>
<div id="products_view" class="pd_gridView" >
    <div id="product_display">
        <!-- Mobile Sorting -->
        <div class="jplist-ios-button">Sorting Navigation</div>

        <div id="preloader" style="display: none"><span></span></div>

        <div class="sorting_navigation">

            <!-- Sort Dropdown -->
            <div class="sort_by">
                <select ng-model="sortBy" ng-change="sort()">
                    <option selected="selected">Sort by</option>
                    <option value="A-Z">Title A-Z</option>
                    <option value="Z-A">Title Z-A</option>
                    <option value="PriceHL">High Price</option>
                    <option value="PriceLH">Lowest Price</option>
                    <option value="highRating">High Rating</option>
                    <option value="lowRating">Low Rating</option>
                </select>
            </div>
            <!--jplist-drop-down-->

            <!-- Items Per Page Dropdown -->
            <div class="sort_by">
                <select ng-model="pageSize" id="pageSize" ng-change="ProductsPerPage()">
                    <option value="12">12 per page</option>
                    <option value="24">24 per page</option>
                    <option value="40">40 per page</option>
                    <option value="60">60 per page</option>
                    <option value="all">View All</option>
                </select>
            </div>
            <!--jplist-drop-down-->

            <!-- Sort Views -->
            <div class="pdViews sort_by">
                <span class="head_text">View As</span>
                <button type="button" class="pdView pd_listView" id="pd_listView" onclick="viewChange(this.id)"></button>
                <button type="button" class="pdView pd_gridView" id="pd_gridView" onclick="viewChange(this.id)"></button>
            </div>
            <!--jplist-views-->
            <div class="pageInfo">
                {{pageStartIndex}} - {{pageDynamicCount}} of {{totalProducts}}
            </div>
            <!-- Pagination Control -->
            <div class="jplist-pagination">
                <div class="pagination">
                    <ul>
                        <li ng-class="prevPageDisabled()" id="prev">
                            <a href="javascript:;" ng-click="prevPage()">« Prev</a>
                        </li>
                        <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                            <a href="javascript:;">{{n+1}}</a>
                        </li>
                        <li ng-class="nextPageDisabled()" id="next">
                            <a href="javascript:;" ng-click="nextPage()">Next »</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!--sorting_navigation-->

        @{ Html.RenderPartial("~/Views/Home/_Products.cshtml");}

    </div>
</div>
