<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <!-- <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-MyCart-20170519123537;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-MyCart-20170519123537.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings> -->
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    
    <add key="AssociationName" value="SIR"/>
    <add key="EnvironmentName" value="SIR770TST"/>
    <add key="AppTypeName" value="PLATFORM"/>
    <add key="VersionName" value="7.7.0"/>
    <add key="DatabaseName" value="SIR770TST_P360"/>
    <add key="Login" value="orangeelement"/>
    <add key="Password" value="Cys0M#YF"/>
    <add key="OrgId" value="SIR"/>
    <add key="OrgUnitId" value="SIR"/>
	  
    <add key="VendorUsername" value="timss"/>
    <add key="VendorIdentifier" value="7"/>
    <add key="VendorPassword" value="10BB61615AF73164F1F9B9AC9655439C"/>
    <add key="VendorBlock" value="3E918C58FB082D1B168F0D2B38830F38"/>
    <add key="SSOWebReferenceURL" value="https://sir770tstebiz.personifycloud.com/SSO/webservice/service.asmx"/>
    <add key="SSO_BASE_URL" value="https://sir770tstebiz.personifycloud.com/SSO/"/>
    <!--   <add key="SSO_BASE_URL" value="https://irbc.sirweb.org/SSO/" /> -->
    <add key="ApplicationUrl" value="https://irbc.sirweb.org/Shopping"/>
    <add key="StoreURL" value="https://irbc.sirweb.org/Shopping"/>
    <add key="subSystem" value="INV,PKG,SUB,DCD"/>
    <!--
    <add key="CreditCardAuthorization" value="ON" />
  -->
    <add key="CreditCardAuthorization" value="ON"/>
    <add key="debuglogenabled" value="true"/>
    <add key="errorlogenabled" value="true"/>
    <add key="infologenabled" value="true"/>
    <add key="logdir" value="c:\temp\"/>
    <add key="logprefix" value="carttest_"/>
    <add key="jshelpers" value="true"/>
    <add key="URL" value="https://irbc.sirweb.org/Login/"/>
    <add key="MembershipURL" value="https://irbc.sirweb.org/"/>
    <add key="LoginURL" value="https://irbc.sirweb.org/Login/"/>
    <add key="AccountURL" value="https://irbc.sirweb.org/Account/"/>
    <add key="LandingURL" value="https://irbc.sirweb.org/"/>
    <add key="ShoppingCartURL" value="https://irbc.sirweb.org/Cart/"/>
    <add key="JoinURL" value="https://irbc.sirweb.org/Join.aspx"/>
    <add key="MeetingURL" value="https://irbc.sirweb.org/Conference/"/>
    <add key="AccountURL" value="https://irbc.sirweb.org/Account"/>
    <add key="Membership" value="https://irbc.sirweb.org/Membership"/>
    <add key="ApplicationName" value="Cart"/>
    <add key="StoreURL" value="https://irbc.sirweb.org/Shopping/"/>
    <add key="SITEURL" value="https://irbc.sirweb.org/Login/"/>
    <add key="Carousel" value="https://irbc.sirweb.org/Login/Carousel/"/>
    <add key="ShuffleexchangeAPIWEBEX" value="https://seconnect.shuffleexchange.com/api2/anonymous/8f9ffdf2-4549-4c2b-a676-ecfaa07179cf/WEBEX/Webhook"/>
    <add key="SSOLoginURL" value="https://irbc.sirweb.org/Login/"/>
  </appSettings>
  <location path="." inheritInChildApplications="false">
    <system.web>
	  <compilation targetFramework="4.8" debug="true"/>
      <httpRuntime targetFramework="4.8"/>
      <pages>
        <namespaces>
          <add namespace="System.Web.Helpers"/>
          <add namespace="System.Web.Mvc"/>
          <add namespace="System.Web.Mvc.Ajax"/>
          <add namespace="System.Web.Mvc.Html"/>
          <add namespace="System.Web.Optimization"/>
          <add namespace="System.Web.Routing"/>
          <add namespace="System.Web.WebPages"/>
        </namespaces>
      </pages>
      <!--<httpModules>
        <add name="SharedSessionModule" type="SharedSessionModule" />
      </httpModules>-->
      <customErrors mode="Off"/>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule"
        scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32"
        responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule"
        scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64"
        responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"
        type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="default-src: https:; frame-ancestors 'self' X-Frame-Options: SAMEORIGIN"/>
        <add name="X-Frame-Options" value="DENY"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
</configuration>
<!--ProjectGuid: D89C9B20-2C8D-4422-8228-685D9C41904D-->