<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="LogoutConfigurationSection">
      <section name="Logouts" type="PersonifyConnector.LogoutConfigurationSection, PersonifyConnector" requirePermission="false" allowLocation="true"
        allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <LogoutConfigurationSection>
    <Logouts>
      <Logout>
        <LogoutSetting LogoutURL="https://irbc.sirweb.org/Account/Logout"/>
        <LogoutSetting LogoutURL="https://irbc.sirweb.org/Cart/Logout"/>
        <LogoutSetting LogoutURL="https://irbc.sirweb.org/Shopping/Home/Logout"/>
      </Logout>
    </Logouts>
  </LogoutConfigurationSection>
  <connectionStrings/>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="AssociationName" value="SIR"/>
    <add key="EnvironmentName" value="SIR770TST"/>
    <add key="AppTypeName" value="PLATFORM"/>
    <add key="VersionName" value="7.7.0"/>
    <add key="DatabaseName" value="SIR770TST_P360"/>
    <add key="Login" value="orangeelement"/>
    <add key="Password" value="Cys0M#YF"/>
    <add key="OrgId" value="SIR"/>
    <add key="OrgUnitId" value="SIR"/>
    <add key="SSOWebReferenceURL" value="https://sir770tstebiz.personifycloud.com/SSO/webservice/service.asmx"/>
    <add key="VendorUsername" value="timss"/>
    <add key="VendorIdentifier" value="7"/>
    <add key="VendorPassword" value="10BB61615AF73164F1F9B9AC9655439C"/>
    <add key="VendorBlock" value="3E918C58FB082D1B168F0D2B38830F38"/>
    <add key="SSO_BASE_URL" value="https://sir770tstebiz.personifycloud.com/SSO/"/>
    <add key="DefaultDestination" value="https://irbc.sirweb.org/Account/"/>
    <!--
    <add key="CreditCardAuthorization" value="ON" />

    <add key="CreditCardAuthorization" value="OFF" />  -->
    <add key="debuglogenabled" value="true"/>
    <add key="errorlogenabled" value="true"/>
    <add key="infologenabled" value="true"/>
    <add key="logdir" value="c:\temp"/>
    <add key="logprefix" value="ATAtest_"/>
    <add key="jshelpers" value="true"/>
    <add key="StoreURL" value="https://irbc.sirweb.org/Shopping/"/>
    <add key="LoginURL" value="https://irbc.sirweb.org/Login/"/>
    <add key="ShoppingCartURL" value="https://irbc.sirweb.org/Cart"/>
    <add key="SITEURL" value="https://irbc.sirweb.org/Login/Shopping/"/>
    <add key="AccountURL" value="https://irbc.sirweb.org/Account/"/>
    <add key="JoinURL" value="http://www.trucking.org/Join.aspx"/>
    <add key="LandingURL" value="https://irbc.sirweb.org/Account/"/>
    <add key="Membership" value="https://irbc.sirweb.org/Join/"/>
    <add key="MeetingURL" value="https://irbc.sirweb.org/Conference/"/>
    <add key="ApplicationUrl" value="https://irbc.sirweb.org/Shopping/"/>
    <add key="Carousel" value="https://irbc.sirweb.org/Login/Carousel/"/>
  </appSettings>
  <location path="." inheritInChildApplications="false">
    <system.web>
	  <compilation targetFramework="4.8" debug="true"/>
      <httpRuntime targetFramework="4.8"/>
      <pages>
        <namespaces>
          <add namespace="System.Web.Helpers"/>
          <add namespace="System.Web.Mvc"/>
          <add namespace="System.Web.Mvc.Ajax"/>
          <add namespace="System.Web.Mvc.Html"/>
          <add namespace="System.Web.Optimization"/>
          <add namespace="System.Web.Routing"/>
          <add namespace="System.Web.WebPages"/>
        </namespaces>
      </pages>
      <!--<httpModules>
        <add name="SharedSessionModule" type="SharedSessionModule" />
      </httpModules>-->
      <customErrors mode="Off"/>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <staticContent>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule"
        scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32"
        responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule"
        scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64"
        responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"
        type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  
</configuration>
<!--ProjectGuid: A32D3C19-ED4C-4530-882C-6F2830EBB82D-->