@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TopHeaderLayout.cshtml";
}
<style>
    .content h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0.67em 0;
    }
    .content p {
        font-size: medium;
        line-height: 1.6;
        font-weight: 400;
        font-size:18px;
    }
    .content ul li {
        padding:8px 0px;
        font-size:18px;
        list-style-type:disc;
        margin-left:17px;
    }
</style>

<div class="scrollable">
    <content id="content-box" class="content">
        <div class="container">
            <h1>About the IR Business Center</h1>
            <p>The IR Business Center is an online marketplace that connects physicians to a centralized market with all necessary goods and services. It is dedicated to SIR members in private practice, their practice administrators, billers and coders, and business partners, who are willing to learn, test, and reliably implement changes to drive meaningful and measurable progress to improve the quality of care. The launch of this marketplace is a significant achievement from goal one of the 2018-2022 SIR Strategic Plan; to lead and support interventional radiologists (IRs) to achieve safe, effective, and patient-centered care in their practice settings of choice.</p>
            <p>This marketplace is a “multi-vendor space” that offers real convenience by providing users electronic access to practice development and operations resources offered by the Society of Interventional Radiology (SIR). In addition, the marketplace also provides a business-to-consumer and business-to-business service opportunity through the Affinity Partners Program in six major categories:</p>
            <ul>
                <li>Patient engagement & education</li>
                <li>Brand & Marketing</li>
                <li>Coding, billing & reimbursement</li>
                <li>Private practice operations & management</li>
                <li>Setting Up an IR Private Practice</li>
                <li>Electronic health records</li>
            </ul>
        </div>
    </content>

</div>

