@{
    ViewBag.PageTitle = "About Us";
}
@{
    ViewBag.Title = "About Us";
}
@{
    Layout = "~/Views/Shared/_Products.cshtml";
}

<style>
    h1 {
        margin: 0.8em 0 0.8em 0;
    }

    h2 {
        margin: 0.8em 0 0.8em 0;
        font-size: 1.6em;
    }
    h3 {
        margin: 1.6em 0 0.8em 0;
        font-weight: bold;
        font-size: 1.6em;
    }
    h4 {
        margin: 1.6em 0 0.8em 0;
        font-size: 1.2em;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <h1>American Trucking Associations’ Business Solutions</h1>
        <h2 style="font-style: italic;">Serving the Industry, Empowering Your Success</h2>
        <h3>Who we are?</h3>
        <h4>A leading advocate for the trucking industry</h4>
        American Trucking Associations (ATA) is the largest national trade association for the trucking industry. Through a federation of 50 affiliated state trucking associations and industry-related conferences and councils, ATA is the voice of the industry America depends on most to move our nation’s freight.
        <h4>But we are more than that</h4>
        <p>ATA has been known as the leading advocate for the trucking industry since 1933. But we are more than that. Our advocacy mission goes hand in hand with our expertise that is aimed toward making the industry stronger – we help the industry gain the necessary data and resources to help them grow their business.</p>
        <h3>What do we offer?</h3>
        Economic Guides (link to Economic page)
        <p>ATA’s Economic Department provides industry economic reports focused on important facts and figures, trends and forecast, outlook on freight demand, fuel prices, benchmark data on drivers’ salary and more. In addition to our reports, we also provide monthly and weekly electronic subscriptions that help keep your company on top of the latest economic data impacting trucking. Some of our top-rated resources include Driver Compensation Study, annual Trucking Trends, Freight Transportation Forecast and more.</p>
        <h4>
            Safety & Security (link)
        </h4>
        <p>On this website, you can find an extensive line of CSA, effective risk management, accident/injury prevention, risk management and loss control resources as well as our nationally recognized safety awards for your drivers and employees.</p>
        <h4>
            Fleet Maintenance (link)
        </h4>
        <p>The fleet maintenance products from ATA’s Technology & Maintenance Council (TMC) provide industry-leading recommended practices for tires, corrosion, chassis, engines, and much more. In addition, TMC provides the Vehicle Maintenance Reporting Standards (VMRS) – a universal language for fleets to develop a uniform record-keeping practice for equipment maintenance – simplify, clarify, and unify maintenance reporting from management to the show floor.</p>
        <h4>
            ATA Featured Product Program
        </h4>
        <p>This program offers ATA Allied member companies unique opportunities to market their products and services to ATA member fleets and thousands of their trucking companies throughout America.  Learn more about the program here (link to FP page).</p>
        <h4>Meetings & Conferences</h4>
        <p>Join ATA to experience unparalleled networking opportunities, cutting-edge educational programs, meaningful policy discussions, great exhibits and so much more. ATA events are designed to bring all facets of the trucking industry together.</p>
        <h4>
            Want to save?
        </h4>
        <p>Join ATA to influence policy and support educational programs for the advancement of the trucking industry, and save on everything that we have to offer.</p>
    </div>
</div>