@model IEnumerable<Shopping.Models.Product>
@{
    ViewBag.Title = "Home";
}
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<div id="products_view" class="pd_gridView">
    <div id="product_display">


        <div id="preloader" style="display: none"><span></span></div>





    </div>
</div>
