@model IEnumerable<Shopping.Models.Product>
@{
    ViewBag.Title = "Listing";
    ViewBag.ShowSearch = false;
}

<!--search_with_category-->
@*<div class="dP_cat">

    <select id="CategorySearch" style="height:36px;display: none;" class="selectSkin">
        <option ng-repeat="item in ddlCategories" value="{{item.type}}">{{item.Description}}</option>
    </select>
</div>
<input type="search" name="search" id="search" class="search_input" ng-keyup="SearchProducts('search')">
<input type="button" class="submit_btn" id="SearchCategories" ng-click="SearchProducts('search')" value="Search">*@


<div id="preloader" style="display: none"><span></span></div>

<div class="product-pagination">
    <span>{{pageStartIndex}} - {{pageDynamicCount}} of {{totalProducts}}</span>
    <span>
        <span ng-class="prevPageDisabled()" id="prev">&lt; <a href="#" ng-click="prevPage()">Previous</a></span>
        <ul>
            <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                <a href="#">{{n+1}}</a>
            </li>
        </ul>
        <span ng-class="nextPageDisabled()" id="next"><a href="#" ng-click="nextPage()">Next</a> &gt;</span>
    </span>
</div>

@{ Html.RenderPartial("~/Views/Home/_Products.cshtml");}

