@{
    Layout = "~/Views/Shared/_Products.cshtml";
}
@{
    ViewBag.Title = "VMRS Product Questionnaire";
}
<p>
    <iframe id="embed-frame" style="border: none; width: 100%;" src="https://app.versiform.net/forms/link/vmrs_product_questionnaire" width="600" height="800" frameborder="0"></iframe>
    <script type="text/javascript" src="https://app.versiform.net/Scripts/embed.js"></script>
</p>