
html {
    height: 100%;
}

body {
    min-height: 100vh;
    font-size: 15px;
}

#container {
    min-height: 50vh;
}

.invalid {
    border: 1px solid red !important;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}
.tblheader {
    min-height: 50px;
    background-color: #0055aa;
    color: white;
    font-weight: bold;
    padding-top: 15px;
}
.tblcol {
    padding-right: 5px!important;
    padding-left: 5px!important
}

#ui_notifIt {
    position: fixed;
    top: 10px;
    right: 20px;
    cursor: pointer;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    -wekbit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    z-index: 10000;
}

    #ui_notifIt:hover {
        opacity: 1 !important;
    }

    #ui_notifIt p {
        text-align: center;
        font-family: sans-serif;
        font-size: 1.1em;
        padding: 0;
        margin: 0;
    }

#notifIt_close {
    position: absolute;
    color: #FFF;
    top: 0;
    padding: 0px 5px;
    right: 0;
}

    #notifIt_close:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

/* Color setup */
/* You are free to change all of this */
#ui_notifIt.success {
    background-color: yellowgreen;
    color: white;
}

#ui_notifIt.error {
    background-color: orangered;
    color: white;
}

#ui_notifIt.warning {
    background-color: orange;
    color: white;
}

#ui_notifIt.info {
    background-color: deepskyblue;
    color: white;
}

#ui_notifIt.default {
    background-color: #EEE;
    color: #444;
}

/* notifit confirm */
.notifit_confirm_bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.notifit_confirm * {
    font-family: sans-serif;
}

.notifit_confirm {
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 30px 0px 30px;
    background-color: #EEE;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.notifit_confirm_accept,
.notifit_confirm_cancel {
    padding: 10px 20px;
    color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 10px;
    outline: 0;
    cursor: pointer;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.notifit_confirm_accept {
    background-color: #9ACD32;
}

    .notifit_confirm_accept:hover {
        background-color: #ABDE43;
    }

.notifit_confirm_cancel {
    background-color: #FF4500;
}

    .notifit_confirm_cancel:hover {
        background-color: #FF5611;
    }

.notifit_confirm_message {
    text-align: center;
    margin-bottom: 20px;
}

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid {
    font: normal 1em/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #8C8C8C;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

    .datagrid table td, .datagrid table th {
        padding: 3px 10px;
    }

    .datagrid table thead th {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );
        background: -moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
        background-color: #8C8C8C;
        color: #FFFFFF;
        font-size: 15px;
        font-weight: bold;
        border-left: 1px solid #A3A3A3;
    }

        .datagrid table thead th:first-child {
            border: none;
        }

    .datagrid table tbody td {
        color: #000000;
        border-left: 1px solid #DBDBDB;
        font-size: 1em;
        font-weight: normal;
    }

    .datagrid table tbody tr:nth-child(odd) {
        background: #EBEBEB;
        color: #000000;
    }

    .datagrid table tbody td:first-child {
        border-left: none;
    }

    .datagrid table tbody tr:last-child td {
        border-bottom: none;
    }

/*!
 * Datetimepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Improvements by Andrew Rowls
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */ .datetimepicker {
    padding: 4px;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    direction: ltr;
}

.datetimepicker-inline {
    width: 220px;
}

.datetimepicker.datetimepicker-rtl {
    direction: rtl;
}

    .datetimepicker.datetimepicker-rtl table tr td span {
        float: right;
    }

.datetimepicker-dropdown, .datetimepicker-dropdown-left {
    top: 0;
    left: 0;
}

[class*=" datetimepicker-dropdown"]:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0,0,0,0.2);
    position: absolute;
}

[class*=" datetimepicker-dropdown"]:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
}

[class*=" datetimepicker-dropdown-top"]:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #ccc;
    border-top-color: rgba(0,0,0,0.2);
    border-bottom: 0;
}

[class*=" datetimepicker-dropdown-top"]:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    border-bottom: 0;
}

.datetimepicker-dropdown-bottom-left:before {
    top: -7px;
    right: 6px;
}

.datetimepicker-dropdown-bottom-left:after {
    top: -6px;
    right: 7px;
}

.datetimepicker-dropdown-bottom-right:before {
    top: -7px;
    left: 6px;
}

.datetimepicker-dropdown-bottom-right:after {
    top: -6px;
    left: 7px;
}

.datetimepicker-dropdown-top-left:before {
    bottom: -7px;
    right: 6px;
}

.datetimepicker-dropdown-top-left:after {
    bottom: -6px;
    right: 7px;
}

.datetimepicker-dropdown-top-right:before {
    bottom: -7px;
    left: 6px;
}

.datetimepicker-dropdown-top-right:after {
    bottom: -6px;
    left: 7px;
}

.datetimepicker > div {
    display: none;
}

.datetimepicker.minutes div.datetimepicker-minutes {
    display: block;
}

.datetimepicker.hours div.datetimepicker-hours {
    display: block;
}

.datetimepicker.days div.datetimepicker-days {
    display: block;
}

.datetimepicker.months div.datetimepicker-months {
    display: block;
}

.datetimepicker.years div.datetimepicker-years {
    display: block;
}

.datetimepicker table {
    margin: 0;
}

.datetimepicker td, .datetimepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 0;
}

.table-striped .datetimepicker table tr td, .table-striped .datetimepicker table tr th {
    background-color: transparent;
}

.datetimepicker table tr td.minute:hover {
    background: #eee;
    cursor: pointer;
}

.datetimepicker table tr td.hour:hover {
    background: #eee;
    cursor: pointer;
}

.datetimepicker table tr td.day:hover {
    background: #eee;
    cursor: pointer;
}

.datetimepicker table tr td.old, .datetimepicker table tr td.new {
    color: #999;
}

.datetimepicker table tr td.disabled, .datetimepicker table tr td.disabled:hover {
    background: 0;
    color: #999;
    cursor: default;
}

.datetimepicker table tr td.today, .datetimepicker table tr td.today:hover, .datetimepicker table tr td.today.disabled, .datetimepicker table tr td.today.disabled:hover {
    background-color: #fde19a;
    background-image: -moz-linear-gradient(top,#fdd49a,#fdf59a);
    background-image: -ms-linear-gradient(top,#fdd49a,#fdf59a);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fdd49a),to(#fdf59a));
    background-image: -webkit-linear-gradient(top,#fdd49a,#fdf59a);
    background-image: -o-linear-gradient(top,#fdd49a,#fdf59a);
    background-image: linear-gradient(top,#fdd49a,#fdf59a);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a',endColorstr='#fdf59a',GradientType=0);
    border-color: #fdf59a #fdf59a #fbed50;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .datetimepicker table tr td.today:hover, .datetimepicker table tr td.today:hover:hover, .datetimepicker table tr td.today.disabled:hover, .datetimepicker table tr td.today.disabled:hover:hover, .datetimepicker table tr td.today:active, .datetimepicker table tr td.today:hover:active, .datetimepicker table tr td.today.disabled:active, .datetimepicker table tr td.today.disabled:hover:active, .datetimepicker table tr td.today.active, .datetimepicker table tr td.today:hover.active, .datetimepicker table tr td.today.disabled.active, .datetimepicker table tr td.today.disabled:hover.active, .datetimepicker table tr td.today.disabled, .datetimepicker table tr td.today:hover.disabled, .datetimepicker table tr td.today.disabled.disabled, .datetimepicker table tr td.today.disabled:hover.disabled, .datetimepicker table tr td.today[disabled], .datetimepicker table tr td.today:hover[disabled], .datetimepicker table tr td.today.disabled[disabled], .datetimepicker table tr td.today.disabled:hover[disabled] {
        background-color: #fdf59a;
    }

        .datetimepicker table tr td.today:active, .datetimepicker table tr td.today:hover:active, .datetimepicker table tr td.today.disabled:active, .datetimepicker table tr td.today.disabled:hover:active, .datetimepicker table tr td.today.active, .datetimepicker table tr td.today:hover.active, .datetimepicker table tr td.today.disabled.active, .datetimepicker table tr td.today.disabled:hover.active {
            background-color: #fbf069;
        }

.datetimepicker table tr td.active, .datetimepicker table tr td.active:hover, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled:hover {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top,#08c,#04c);
    background-image: -ms-linear-gradient(top,#08c,#04c);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));
    background-image: -webkit-linear-gradient(top,#08c,#04c);
    background-image: -o-linear-gradient(top,#08c,#04c);
    background-image: linear-gradient(top,#08c,#04c);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc',endColorstr='#0044cc',GradientType=0);
    border-color: #04c #04c #002a80;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

    .datetimepicker table tr td.active:hover, .datetimepicker table tr td.active:hover:hover, .datetimepicker table tr td.active.disabled:hover, .datetimepicker table tr td.active.disabled:hover:hover, .datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.active, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled:hover.active, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active:hover.disabled, .datetimepicker table tr td.active.disabled.disabled, .datetimepicker table tr td.active.disabled:hover.disabled, .datetimepicker table tr td.active[disabled], .datetimepicker table tr td.active:hover[disabled], .datetimepicker table tr td.active.disabled[disabled], .datetimepicker table tr td.active.disabled:hover[disabled] {
        background-color: #04c;
    }

        .datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.active, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled:hover.active {
            background-color: #039;
        }

.datetimepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.datetimepicker .datetimepicker-hours span {
    height: 26px;
    line-height: 26px;
}

.datetimepicker .datetimepicker-hours table tr td span.hour_am, .datetimepicker .datetimepicker-hours table tr td span.hour_pm {
    width: 14.6%;
}

.datetimepicker .datetimepicker-hours fieldset legend, .datetimepicker .datetimepicker-minutes fieldset legend {
    margin-bottom: inherit;
    line-height: 30px;
}

.datetimepicker .datetimepicker-minutes span {
    height: 26px;
    line-height: 26px;
}

.datetimepicker table tr td span:hover {
    background: #eee;
}

.datetimepicker table tr td span.disabled, .datetimepicker table tr td span.disabled:hover {
    background: 0;
    color: #999;
    cursor: default;
}

.datetimepicker table tr td span.active, .datetimepicker table tr td span.active:hover, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active.disabled:hover {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top,#08c,#04c);
    background-image: -ms-linear-gradient(top,#08c,#04c);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));
    background-image: -webkit-linear-gradient(top,#08c,#04c);
    background-image: -o-linear-gradient(top,#08c,#04c);
    background-image: linear-gradient(top,#08c,#04c);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc',endColorstr='#0044cc',GradientType=0);
    border-color: #04c #04c #002a80;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

    .datetimepicker table tr td span.active:hover, .datetimepicker table tr td span.active:hover:hover, .datetimepicker table tr td span.active.disabled:hover, .datetimepicker table tr td span.active.disabled:hover:hover, .datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled:hover.active, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active:hover.disabled, .datetimepicker table tr td span.active.disabled.disabled, .datetimepicker table tr td span.active.disabled:hover.disabled, .datetimepicker table tr td span.active[disabled], .datetimepicker table tr td span.active:hover[disabled], .datetimepicker table tr td span.active.disabled[disabled], .datetimepicker table tr td span.active.disabled:hover[disabled] {
        background-color: #04c;
    }

        .datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled:hover.active {
            background-color: #039;
        }

.datetimepicker table tr td span.old {
    color: #999;
}

.datetimepicker th.switch {
    width: 145px;
}

.datetimepicker th span.glyphicon {
    pointer-events: none;
}

.datetimepicker thead tr:first-child th, .datetimepicker tfoot th {
    cursor: pointer;
}

    .datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot th:hover {
        background: #eee;
    }

.input-append.date .add-on i, .input-prepend.date .add-on i, .input-group.date .input-group-addon span {
    cursor: pointer;
    width: 14px;
    height: 14px;
}

/*.container { width: 800px; margin: 0 auto; }*/
.autocomplete-suggestions {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #000;
}

.autocomplete-group {
    padding: 2px 5px;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.glyphicon-calendar:before {
    margin-left: 10px;
}

#edit.affiliate #editform .INDUSTRYCL, #edit.affiliate #editform .DEPARTMENT, #edit.affiliate #editform .JOB_FUNCTION, #edit.affiliate #editform .BeginDate, #edit.affiliate #editform .EndDate, #edit.affiliate #editform .PrimaryEmployerFlag {
    display: none;
}

#edit.affiliate #editform.ACA .DEPARTMENT, #edit.affiliate #editform.ACA .JOB_FUNCTION, #edit.affiliate #editform.ACA .PrimaryEmployerFlag {
    display: table-row;
}

#edit.affiliate #editform.GOV .JOB_FUNCTION, #edit.affiliate #editform.GOV .PrimaryEmployerFlag {
    display: table-row;
}

#edit.affiliate #editform.IND .INDUSTRYCL, #edit.affiliate #editform.IND .JOB_FUNCTION, #edit.affiliate #editform.IND .PrimaryEmployerFlag {
    display: table-row;
}

#edit.affiliate #editform.LAB .JOB_FUNCTION, #edit.affiliate #editform.LAB .PrimaryEmployerFlag {
    display: table-row;
}

#edit.affiliate #editform.OTH .JOB_FUNCTION, #edit.affiliate #editform.OTH .PrimaryEmployerFlag {
    display: table-row;
}

#loginform .row {
    margin-top: 1.0em;
    margin-bottom: 1.0em;
}

.col-md-x {
    float: left;
    width: 10%;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
}

.col-md-x2 {
    width: 20%;
}

.step {
    margin-top: 27px;
    text-align: center;
    z-index: 1;
    position: relative;
    height: 60px;
}

    .step p {
        margin: 10px 0 2px;
    }

    .step .col-md-x {
        /*background-color: #CCC;*/
        border: 1px solid #C0C0C0;
        border-right: none;
        height: 50px;
    }

        .step .col-md-x:last-child {
            border: 1px solid #C0C0C0;
        }

    /*.step .col-md-x:hover {
    color: #F58723;
    cursor: pointer;
}*/

    .step .activestep {
        color: #337ab7;
        margin-top: -10px;
        height: 60px;
        border-left: 1px solid #337ab7 !important;
        border-right: 1px solid #337ab7 !important;
        border-top: 1px solid #337ab7 !important;
        border-bottom: 1px solid #337ab7 !important;
        vertical-align: central;
        border-radius: 5px 5px 0 0;
    }

    .step .complete {
        border-top: 2px solid #337ab7 !important;
        z-index: 500;
        position: relative;
        margin-top: 18px;
    }

    .step .activestep .complete {
        margin-top: 28px;
    }

    .step .fa {
        border: 1px solid #337ab7;
        width: 20px;
        height: 18px;
        vertical-align: central;
        background-color: #FFF;
        z-index: 9999;
        position: absolute;
        margin-top: 9px;
        margin-left: -9px;
        line-height: 18px;
    }
    /**/
    .step .activestep .fa {
        margin-top: 18px;
    }

*/ .step #first {
    border-radius: 5px 0 0 0;
}

.step #last {
    border-radius: 0 5px 0 0;
}

.form_date {
    width: 150px;
}

.register .row {
    padding: 10px 15px;
}

.imgLoad {
    margin: 40px;
}

.datagrid #review th, .datagrid #review td {
    padding: 10px;
}

#ajax_loader {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255,0.4); /* Black w/ opacity */
}

    #ajax_loader img {
        position: fixed;
        left: 50%;
        top: 50%;
    }

h4.info {
    font-style: italic;
    padding: 0 20px;
    line-height: 1.2em;
}

h1.page_title {
    font-weight: normal;
    margin: 5px 0 30px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #08c;
    font-size: 24px;
    color: #08c;
}

div#cartsview {
    background-color: #FFF;
    overflow: hidden;
    border: 1px solid #dde1e8;
    border-radius: 5px;
    padding-bottom: 20px;
    position: relative;
}

.form_steps {
    border-radius: 0;
    color: #FFF;
    padding: 0px;
    margin-bottom: 20px;
}

    .form_steps .steps {
        background-color: #2956B2;
        padding: 15px 10px;
        border-bottom: 1px solid #dde1e8;
    }

    .form_steps > .active {
        background: #FFF;
        color: #0054a9;
        font-weight: bold;
        border-bottom: 1px solid transparent;
    }

address {
    /*border: 1px solid gray;*/
    border-radius: 4px;
    padding: 20px 40px;
    box-shadow: 0 0 5px #CCC;
}

    address:hover {
        box-shadow: 0 0 10px #337ab7;
    }

.default-flag {
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
    color: #1fbe7f;
}

span.address {
    display: block;
    margin-bottom: 15px;
}

.noMargin {
    margin: 0;
}

.btnActions a, .btnActions button, .btnActions input {
    color: #FFF;
    text-decoration: none;
    margin-left: 10px;
    background-color: #2956B2;
    font-weight: bold;
    border: 0;
    padding: 6px 30px;
    display: inline-block;
    text-shadow: 0 1px 1px #333;
    border-radius: 3px;
}

    .btnActions a:hover, .btnActions input:hover, .btnActions button:hover {
        background-color: #FC7F47;
        text-shadow: 0 1px 1px transparent;
        color: #FFF;
    }

.lb-curve {
    border-radius: 0 0 0 10px;
}

.rb-curve {
    border-radius: 0 0 10px 0;
}

.totalAmountBox {
    background-color: #2956B2;
    display: inline-block;
    min-width: 250px;
    margin-bottom: 20px;
    border-radius: 0 0 0 10px;
    padding: 10px;
    color: #FFF;
    font-weight: bold;
}

.contentBox {
    box-shadow: 0 0 8px #E1E1E1;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}

.cb_body {
    padding: 5px;
}

.cb_header {
    padding: 10px 20px;
    font-weight: bold;
    color: #333333;
    text-shadow: 0 1px 0 #FFF;
    background-color: #eee;
    border-bottom: 1px solid #E1E1E1;
    border-radius: 4px 4px 0 0;
}

.cb_header .cb_header_info {
        display: inline-block;
        float: right;
        color: #08c;
        font-size: 11px;
        font-style: italic;
        text-shadow: 0 1px 1px transparent;
    }

.white-space-pre-line {
  white-space: pre-line;
}
.errorMsg {
color:red;
}
.divide {
    color:#0098cf;
}
/*.headerfooter .header_actions .account_links li a span {
    color: #d9534f;
}*/
.secondary2 {
    float: right;
}
.secondary2 a {
    padding: 10px;
}

#container.expanded .expander {
    padding-left: 13px;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url(images/expanded.gif);
}

#container.collapsed .expander {
    padding-left: 13px;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url(images/collapsed.gif);
}
.author_bio_toggle_wrapper    
{
        
}

#author_bio_wrap 
{
    margin-top: 0px;  
    margin-bottom: 30px; 
    background: gray;
    width: auto; height: 50px;
}
.Pointer{
    cursor: pointer;
    
}
p.ex1 {
   margin-left: 3cm;
}

p.ex2 {
   margin-left: 2cm;
}