
<style type="text/css">
    .carousel-indicators li {
        text-indent: 0;
        margin: 0 2px;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 100%;
        line-height: 30px;
        color: #fff;
        background-color: #999;
        transition: all 0.25s ease;
    }

    .carousel-indicators .active {
        margin: 0 2px;
        width: 30px;
        height: 30px;
        background-color: #337ab7;
    }


     

    </style>
    <div class="container" >

    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
    <!-- Wrapper for slides -->
    <div class="carousel-inner" >
    <div class="item active" >
    <a href="http://www.trucking.org/" target="_blank" > <img alt="" src="~/Banner/TMC19-ebusiness.jpg" > </a >
    </div >

    <div class="item" >
    <a href="http://www.trucking.org/" target="_blank" > <img alt="" src="~/Banner/EconTrends-ebusiness.jpg" > </a >
    </div >


    </div >
    <br / > <br / >
    <div style="background-color:red" >
    <!-- Indicators -->
        <ol class="carousel-indicators carousel-indicators-numbers" style="width:auto;margin-left:-50%" >
            <li data-target="#myCarousel" data-slide-to="0" class="active">1 </li>
            <li data-target="#myCarousel" data-slide-to="1">2 </li>

        </ol>

    </div >


    </div >
    </div >
