.PopluarCities {
    text-align: center;
    margin-bottom: 70px;
    padding-top: 35px;
}

    .PopluarCities .container {
        padding-top: 45px;
    }

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-prev {
    background: url(../images/controls.png) no-repeat 0 -32px !important;
}

.bx-wrapper .bx-next {
    background: url(../images/controls.png) no-repeat -43px -32px !important;
}

.Cities li img {
    height: 165px;
    width: 100%;
}

.Featuredproduct_list {
    margin-bottom: 20px;
}

    .Featuredproduct_list img {
        width: 250px;
        margin-bottom: 20px;
    }

    .Featuredproduct_list h4 {
        margin-bottom: 40px;
    }

footer img {
    display: block;
    margin: auto;
}
