<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <!-- test -->
    <add key="UserName_Base" value="orangeelement" />
    <add key="Password_Base" value="Cys0M#YF" />
    <add key="svcUri_Base" value="https://sir770tstebiz.personifycloud.com/PersonifyDataServices/PersonifyDataSIR.svc/"/>
    <add key="ImagePath" value="https://sir770tstebiz.personifycloud.com/"/>

    <add key="CommunicationFormat_Base" value="XML"/>
    <add key="VendorUsername" value="timss"/>
    <add key="VendorIdentifier" value="7"/>
    <add key="VendorPassword" value="10BB61615AF73164F1F9B9AC9655439C"/>
    <add key="VendorBlock" value="3E918C58FB082D1B168F0D2B38830F38"/>
	
	<add key="ParentProduct"  value="IRBC" />

    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="182ServerConnection" connectionString="Server=tcp:sedb-dev.database.windows.net,1433;Initial Catalog=SIRShopping;Persist Security Info=False;User ID=SEDB_ADMIN;Password=Exchange2018!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<!-- 
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
-->
  </configuration>
