@{ ViewBag.Title = "MyAccount"; }
<div id="usernotfound">Please Login first!</div>

<div class="contentBox" id="userfound">
    <div class="cb_header">
        Username / Password
        <!--<div class="cb_header_actions"></div>-->
    </div>
    <div class="cb_body" id="CredentialInfo">
        <table>
            <tr>
                <td style="width:150px;">Username:</td>
                <td>
                    <span id="viewusername"></span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><span>****************</span></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="cb_footer">
        <div class="cb_footer_actions">
            <a href="javascript:;" id="changeusernamelink">Change Username</a><a href="javascript:;" id="changepasswordlink">Change Password</a>
        </div>
    </div>
</div>
<div class="contentBox" id="tblchangeusername">
    <div class="cb_header">
        Change Username
        <!--<div class="cb_header_actions"></div>-->
        <div class="cb_header_info">* Required</div>
    </div>
    <div class="cb_body">
        <table>
           
            <tr>
                <td style="width:150px;">Username</td>
                <td><input type="text" disabled="disabled" id="txtviewusername" /></td>
            </tr>
            <tr>
                <td><span class="fieldlabel">New Username</span><span class="asteriskField">*</span></td>
                <td><input type="text" id="txtnewusername" class="required"/> <a href="javascript:;" id="linkcheck">Check</a>
                    <span class="errorMsg"></span></td>
            </tr>

        </table>

        
    </div>
    <div class="cb_footer" >
        <div class="cb_footer_actions">
            <input type="button" id="btnchangeusername" value="Save" />
            <a href="javascript:;" class="btncancel normal">Cancel</a>
        </div>
    </div>
</div>
<div class="contentBox" id="tblchangepassword">
    <div class="cb_header">
        Change Password
        <!--<div class="cb_header_actions"></div>-->
        <div class="cb_header_info">* Required</div>
    </div>
    <div class="cb_body" id="password">
        <table>
            <tr>
                <td style="width:150px;"><span class="fieldlabel">Current Password</span><span class="asteriskField">*</span></td>
                <td><input type="password" id="txtcurrentpassword" value=""  class="required"/><span class="errorMsg"></span></td>
            </tr>
            <tr>
                <td><span class="fieldlabel">New Password</span><span class="asteriskField">*</span></td>
                <td><input type="password" id="txtnewpassword" data-indicator="pwindicator" value="" class="required" /> 
                    <div id="pwindicator">
                        <div class="bar"></div>
                        <div class="label"></div>
                    </div>
</td>
            </tr>
            <tr>
                <td><span class="fieldlabel">Confirm Password</span><span class="asteriskField">*</span></td>
                <td><input type="password" id="txtconfirmpassword" value="" class="required" /><span id="Confirmpassstrength" class="errorMsg"></span></td>
            </tr>

        </table>
    </div>
    <div class="cb_footer">
        <div class="cb_footer_actions">
            <input type="button" id="btnchangepassword" value="Save" />
            <a href="javascript:;" class="btncancel normal">Cancel</a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        
        jQuery(function ($) {
            $('#txtnewpassword').pwstrength();
        });
       
        


        function GetUserName() {
            $("#usernotfound").hide();
            $("#tblchangeusername").hide();
            $("#tblchangepassword").hide();

            $.ajax(
            {
                url: '@Url.Action("GetUserName", "Home")',
                contentType: 'application/json; charset=utf-8',
                datatype: 'json',
                type: "GET",
                success: function (data) {
                    if (data.Success == true) {
                        $("#viewusername").html(data.UserName);
                        $("#txtviewusername").val(data.UserName);
                    }
                    else {
                        $("#usernotfound").show();
                        $("#userfound").hide();
                    }
                }
            });
        }

        function ValidateNewUserName() {
            var newusername = $("#txtnewusername").val();
            if (newusername.length > 0) {
                return true;
            }
            else {
                //nalert('Enter new username');
                $("#txtnewusername").parent().find('.errorMsg').text('Please enter new username!');
                $("#txtnewusername").focus();
                return false;
            }
        }
        function validateChangePassword() {
            var currentpassword = $("#txtcurrentpassword").val();
            var newpassword = $("#txtnewpassword").val();
            var confirmpassword = $("#txtconfirmpassword").val();
            var isvalid = true;
            if (currentpassword.length == 0) {
                $("#txtcurrentpassword").parent().find('.errorMsg').text('Please enter current password');
                $("#txtcurrentpassword").focus();
                isvalid = false;
            }
            if (newpassword.length == 0) {
                $("#txtnewpassword").parent().find('.errorMsg').text('Please enter new password');
                $("#txtnewpassword").focus();
                isvalid = false;
            }
            if (confirmpassword.length == 0) {
                $("#txtconfirmpassword").parent().find('.errorMsg').text('Please enter confirm password');
                $("#txtconfirmpassword").focus();
                isvalid = false;
            }
            if (newpassword != confirmpassword) {
                $("#txtconfirmpassword").parent().find('.errorMsg').text('Confirm password should match with new password');
                $("#txtconfirmpassword").focus();
                isvalid = false;
            }

            return isvalid;
        };
        $('body').on('keyup', '.required', function (event) {
            if ($(this).val().trim().length > 0) {
                $(this).parent().find('.errorMsg').text('');
            }
            else {
                var fname = $(this).parent().parent().find('.fieldlabel').html().toLowerCase();
                $(this).parent().find('.errorMsg').text('Please enter ' + fname);
            }
        });

        function CheckIfUserNameExists() {
            var newusername = $("#txtnewusername").val();
            if (ValidateNewUserName()) {
                $.ajax(
                    {
                        url: '@Url.Action("CheckUserName", "Home")',
                        contentType: 'application/json; charset=utf-8',
                        datatype: 'json',
                        type: "GET",
                        data: {
                            username: newusername
                        },
                        success: function (data) {
                            if (data.Success == true) {
                                if (data.UserNameExist) {
                                    alert('Username already exist. Please enter another one!');
                                    $("#txtnewusername").focus();
                                }
                                else {
                                    alert('Username available');
                                }
                            }
                            else {
                                alert('Error!');
                            }
                        }
                    });
            }
        }

        function SaveNewUserName(newusername) {
            var newusername = $("#txtnewusername").val();
            if (ValidateNewUserName()) {
                $.ajax(
                    {
                        url: '@Url.Action("ChangeUserName", "Home")',
                        contentType: 'application/json; charset=utf-8',
                        datatype: 'json',
                        type: "POST",
                        data: JSON.stringify({
                            username: newusername
                        }),
                        success: function (data) {
                            if (data.Success == true) {
                                //location.reload();
                                alert("Username changed successfully");
                                GetUserName();
                                $("#userfound").show();

                                
                            }
                            else {
                                $("#usernotfound").show();
                                $("#userfound").hide();
                                alert(data.Message);
                            }
                        }
                    });
            }
        }

        function SaveNewPassword() {
            var currentpassword = $("#txtcurrentpassword").val();
            var newpassword = $("#txtnewpassword").val();
            var confirmpassword = $("#txtconfirmpassword").val();

            if ((newpassword.length) < 8) {
                alert("Password should be atleast 8 characters");
                return false;
            }
            if (validateChangePassword()) {
                $.ajax(
                {
                    url: '@Url.Action("ChangePassword", "Home")',
                    contentType: 'application/json; charset=utf-8',
                    datatype: 'json',
                    type: "POST",
                    data: JSON.stringify({
                        currentpassword: currentpassword,
                        confirmpassword: newpassword
                    }),
                    success: function (data) {
                        if (data.Success == true) {
                            alert(data.Message);                            
                            GetUserName();
                            $("#userfound").show();
                        }
                        else {
                            alert(data.Message);
                            $("#txtcurrentpassword").focus();
                        }
                    }
                });
            }
        }

        

        GetUserName();

        $("#changepasswordlink").click(function () {
            $("#userfound").hide();
            $("#tblchangepassword").show();
        });
        $("#changeusernamelink").click(function () {
            $("#userfound").hide();
            $("#tblchangeusername").show();
        });
        $(".btncancel").click(function () {
            $("#userfound").show();
            $("#tblchangeusername").hide();
            $("#tblchangepassword").hide();
        });
        $("#linkcheck").click(function () {
             CheckIfUserNameExists();
        });
        $("#btnchangeusername").click(function () {
             SaveNewUserName();
        });
        $("#btnchangepassword").click(function () {
            SaveNewPassword();
        });

    });
</script>
