@using MyResource = ResourceFile
@{
    ViewBag.Title = "Contact Us";
}

<style>
    .cb_body
    {
        padding: 1em;
    }
</style>

<h1 class="page_title">Contact Us</h1>
<div class="contentBox">
    <div id="phones">
        <div class="cb_body">
          
            <p>
            @MyResource.ResourceFile.VendoreName customer service is available by phone during regular business hours: 
                </p>
            <p>
                <br />ATA Main Number:
                <br /><a href="tel:7038381700">(703) 838-1700</a>
                <br />Office of Public Affairs
                <br /><a href="tel:7038381873">(703) 838-1873</a>
                <br /><a href="mailto:media@trucking.org">media@trucking.org</a>
                <br />
                <br />ATA Membership
                <br /><a href="tel:8883331759">(888) 333-1759</a>
                <br /><a href="mailto:atamembership@trucking.org">atamembership@trucking.org</a>
                <br />
                <br />Policy & Regulatory Affairs
                <br /><a href="tel:7038381996">(703) 838-1996</a>
                <br />
                <br />Event Services
                <br /><a href="tel:7038381755">(703) 838-1755</a>
                <br /><a href="mailto:eventservices@trucking.org">eventservices@trucking.org</a>
                <br />
                <br />Shop ATA
                <br /><a href="tel:8668213468">(866) 821-3468</a>
                <br /><a href="mailto:orders@trucking.org">orders@trucking.org</a>
                <br />
                <br />Grassroots Program
                <br /><a href="tel:2025446245">(202) 544-6245</a>
                <br />
                <br />Transport Topics
                <br /><a href="tel:7038381770">(703) 838-1770</a>
                <br />
                <br />Truck PAC
                <br /><a href="tel:2025446245">(202) 544-6245</a>
                <br />
                <br />Circulation
                <br /><a href="tel:8005177370">(800) 517-7370</a>
                <br /><a href="mailto:circulation@trucking.org">circulation@trucking.org</a>
                <br />
                <br />Image & Outreach
                <br /><a href="tel:7038387935">(703) 838-7935</a>
                <br />
                <br />Classifieds
                <br /><a href="tel:8005246246">(800) 524-6246</a>
                <br /><a href="mailto:classifieds@trucking.org">classifieds@trucking.org</a>
                <br />
                <br />Legislative Office
                <br /><a href="tel:2025446245">(202) 544-6245</a>


</div>
    </div>

</div>
