@{
    ViewBag.Title = "Order Invoice";
    Layout = "~/Views/Shared/_Products.cshtml";
}
<div class="page_content_main">
    <div class="page_content_left order-confirmation" data-ng-init="orderInvoice()">

    <div class="order_received_details">
        <h1 class="order_received">
            <span>
                <strong>Order Invoice</strong>
            </span>
        </h1>
        <div class="order_print">
            <div class="order_details">
                <h4>Order Number:{{repOrderData.OrderNumber}}</h4>
            </div>
            <div class="order_details">
                <h4>Order Date: {{repOrderData.OrderDate| jsDate | date:"MM/dd/yyyy"}}</h4>
            </div>

            <a href="javascript:;" onclick="printOrder()" class="print_email">Print</a>
            <a href="#" class="print_email" style="display: none;">Email</a>
        </div>
        <div class="item_purchase_table">
            <table id="cart_table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cartItem in repOrderData.Products">
                        <td class="purchase_item">
                            <span class="product-thumbnail">
                                <img ng-src="{{cartItem.ProductImage}}" no-image></span>
                            <span class="purchase_item_right">
                                <h4>{{cartItem.Description}}</h4>
                                @*<p>{{cartItem.CartDescription}}</p>*@
                                <a href="" data-ng-if="(cartItem.EcdFilename).length > 0" class="download" 
                                    data-filename="{{cartItem.EcdFilename}}" data-prodid="{{cartItem.ProductID}}">Download
                                </a>
                            </span>
                                
                            <div data-ng-if="(cartItem.Components).length > 0">
                                <strong>Items included in package :</strong>
                                <ul class="showDetails">
                                    <li data-ng-repeat="comName in cartItem.Components">
                                        <span>{{comName.Description}} 
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <span>{{cartItem.Quantity}}</span>
                        </td>
                        @* Member Price *@
                        <td class="price mPrice" ng-if="sesUserIsMember == '1'">{{cartItem.MemberPrice | currency}}</td>
                        <td class="price mPrice" ng-if="sesUserIsMember == '1'">{{cartItem.Quantity * cartItem.MemberPrice | currency}}</td>

                        @* User Price *@
                        <td class="price uPrice" ng-if="sesUserIsMember != '1'">{{cartItem.UnitPrice | currency}}</td>
                        <td class="price uPrice" ng-if="sesUserIsMember != '1'">{{cartItem.Quantity * cartItem.UnitPrice | currency}}</td>
                        @*<td class="price"><span>{{cartItem.product.Price | currency}}</span></td>
                        <td class="price"><span>{{cartItem.product.Price * cartItem.Quantity | currency}}</span></td>
                        *@
                    </tr>
                </tbody>
            </table>
        </div>
        <!----page-content-left---->

        <div class="sidebar_widget order_sum_widget">
            @*<h4>Order Summary</h4>
            *@
            <ul>
                <li ng-if="repCouponSaving==null">Item({{repOrderData.Products.length}})<span>{{repOrderData.TotalAmount - repOrderData.TaxAmount - repOrderData.ShippingAmount | currency}}</span></li>
                <li ng-if="repCouponSaving!=null">Item({{repOrderData.Products.length}})<span>{{repOrderData.TotalAmount- repOrderData.TaxAmount - repOrderData.ShippingAmount + repCouponSaving  | currency}}</span></li>
                <li>Shipping Handling<span>{{repOrderData.ShippingAmount | currency}}</span></li>
                <li>Tax<span>{{repOrderData.TaxAmount  | currency}}</span></li>
                <li ng-if="repCouponSaving!=null">Coupons or Promo Code Applied (Automatic)<span>-{{repCouponSaving | currency}}</span></li>
                <li ng-if="sesUserIsMember == '1'" class="item_total">Total:  <span>{{ repOrderData.TotalAmount  | currency}}</span></li>
                <li ng-if="sesUserIsMember != '1'" class="item_total">Total:  <span>{{ repOrderData.TotalAmount  | currency}}</span></li>
            </ul>
        </div>
        <div style="clear: both;"></div>
        <table style="margin-top: 50px;">
            <tr class="addInfo">
                <th>Billing Info:</th>
                <th>Shipping Info:</th>

            </tr>
            <tr>
                <td><span class="white-space-pre-line" data-ng-bind-html="repOrderData.BillAddress  | sanitize"></span></td>
                <td><span class="white-space-pre-line" data-ng-bind-html="repOrderData.ShipAddress  | sanitize"></span></td>
            </tr>
            <tr>
                <td><strong>Payment Method</strong>: MasterCard **** {{repOrderData.PartialCrediCardNumber}}</td>
                <td><strong>Shipping Method</strong>: {{repOrderData.ShipViaCode}}</td>
            </tr>
        </table>
        <!--order_received_details-->
        <br />
        <br />
        <h3 class="order_received">Question about your order? Visit our 
            <a href="@System.Configuration.ConfigurationManager.AppSettings["ApplicationUrl"].ToString()/Footer/FAQ" target="_blank">FAQ</a> or contact our 
            <a href="@System.Configuration.ConfigurationManager.AppSettings["ApplicationUrl"].ToString()/Footer/CustomerService" target="_blank">ATA MARKETPLACE CUSTOMER SERVICE TEAM</a>. Your feedback is important to us, and allows us to continue to provide
            resources that are effective and relevant.
        <br />
            <br />
            The ATA strives to provide the best resources to serve our members and support the profession of Optometry, working through our mission centered on improving the quality and availability of eye and vision care.
        </h3>
    </div>
    </div>
    <!----page-content-left---->
</div>
<!--page_content_main-->

<script>
    $(function () {
        $(document).on('click','.download',function () {
            
            var filename = $(this).data('filename');
            var prodid = $(this).data('prodid');
            $.ajax(
            {
                url: '@Url.Action("DownloadAttachment", "Order")',
                contentType: 'application/json; charset=utf-8',
                datatype: 'json',
                data: {
                    filename: filename,
                    prodid: prodid
                },
                type: "GET",
                success: function (data) {
                    if (data == "Success")
                    {
                        window.location = '@Url.Action("Download", "Order")';
                    }
                    else {

                    }
                }
            });

        });
    });
</script>
