@{
    ViewBag.PageTitle = "Page Not Found";
}
@{
    ViewBag.Title = "Page Not Found ";
}
@section featured {
   
                <h1 class="page_title">@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
}

    <div class="registration_form page404">

    

        <div class="confirmation">

            <div class="message">
                Sorry, but you are looking for something that isn't here.
            </div>

        </div>



</div>
    
