@{
    ViewBag.Title = "SIR";
    Layout = "~/Views/Shared/_Products.cshtml";
}
<div class="customer-service">
   <h1> Customer Service</h1>
   <p>
       ATA Store office hours are 8am to 4pm Central Time, Monday through Friday.<br />
       <span>Phone:</span> 800-282-5463<br />
       <span>Email:</span> <a href="mailto:orders@trucking.org">orders@trucking.org</a><br />
       <span>Fax:</span> 314.991.4101
   </p>
</div>
