@{
    ViewBag.Title = "SIR";
    Layout = "~/Views/Shared/_Products.cshtml";
}
<div>
     <div id="returns">
        <h1>Shipping </h1>
        <p>
            The preferred ATA Store shipping method is UPS Ground. Shipping charges are determined by product weight. Please Note: Shipping charges do not apply to digital download products.
        </p>
        <p>
            Delivery dates can only be guaranteed if material is shipped UPS Next Day. Shipping times for UPS Ground are only approximate. Expedited orders ship on the first available business day. Call 800-282-5463 if you have a concern about an order which requires a specific delivery time frame.
            If you are ordering for any destination outside the United States (including international addresses) or require additional shipping needs, including expedited shipping, please contact the ATA Store at 800-282-5463. UPS does not deliver to post office boxes, so please call the Marketplace for assistance with postal shipping destinations.
        </p>
        <p>
            Please read each product description for possible product specific shipping information.
        </p>
    </div>
    <div id="orders">
        <h1>Returns</h1>
        <p>
            If you are not satisfied with your purchase for any reason, the ATA Store has a 30-day return policy. For full refund or credit, merchandise must be in unmarked, saleable condition. Please include a copy of your invoice.
            Call 800-282-5463 before returning your product merchandise for final return instructions.
        </p>
        <p>
            Exceptions: if the product has been removed from its shrink-wrap, the product is ineligible for returns. Additionally, software, mapping cards, all digitally delivered files, personalized items and audio or video products are not eligible for return, unless defective. Defective products will be replaced.
        </p>
        <p>
            Customers are responsible for reviewing and approving proofs for any personalized item order. Personalized items which have been customer-approved are not eligible for return or refund.
        </p>
    </div>
    <div>
        <h1>International Orders</h1>
        <p>
            Need to call 800-282-5463 for International Orders except CAN and MEX
        </p>
    </div>
</div>
